<a href="https://colab.research.google.com/github/ankitjainkj/ineuronassignment1/blob/main/ineuron_programming_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q) Write a python code to convert kilometer to mile?

In [2]:
kilometer= float(input("enter a value in kilometer"))
miles = kilometer*0.621371
print("value of miles", miles)

enter a value in kilometer12.4
value of miles 7.7050004

Q) Write a python code to convert celsius to Fahrenheit?

In [4]:
celsius= int(input("enter a value in celsius"))
fahrenheit= (celsius*1.8)+32
print("value in fahrenheit", fahrenheit)

enter a value in celsius30
value in fahrenheit 86.0

Q) Write a python code to display calender?

In [5]:
import calendar
yea = int(input("enter a year"))
mon= int(input("enter a month"))
print(calendar.month(yea, mon))

enter a year2022
enter a month11
   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

Q) Write a python code to swap a two variable without using temp ?

In [6]:
a= 12
b= 18
a,b= b,a

In [7]:
a

18

In [8]:
b

12

Q) Write a python code to solve the quadratic eqaution?

In [ ]:
#quadratic equation = a *x**2+bx+c = 0 where a,b,c are coefficient and a is non zero
#quadratic formula= -b + square root of b**2- 4ac/2a ,   -b -square root of b**2 - 4ac/2a

In [11]:
import cmath
a= int(input("enter a value of a  where a is not equal to zero"))
b= int(input("enter a value of b"))
c= int(input("enter a vlaue of c"))

#d = discriminant
d = (b**2)- 4*a*c
value1= (-b-cmath.sqrt(d))/(2*a)
value2= (-b +cmath.sqrt(d))/(2*a)
print( "solution is",value1, value2)

enter a value of a  where a is not equal to zero2
enter a value of b5
enter a vlaue of c10
solution is (-1.25-1.8540496217739157j) (-1.25+1.8540496217739157j)